<div class="ui padded container">

  <div class="ui raised padded segment">
    <div class="ui two column grid">
      <div class="three wide column">
        <img src="/helen.jpg" style="width: 100%;" class="ui left floated">

      </div>
      <div class="thirteen wide column">
        <h3><%= @client.name %></h3>

        <div class="ui placeholder">
          <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="ui two column grid">
    <div class="four wide column">

      <div class="ui divided list">
        <% @notes.each do |note| %>
          <div class="item">
            <i class="sticky note <%= 'outline' unless params[:id].to_i == note.id %> icon"></i>
            <div class="content">
              <a href="<%= edit_note_path @therapist, @client, note %>"><%= note.title %></a>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="twelve wide column">

      <div class="ui top attached active tab segment" data-tab="note">

        <div class="ui form">
          <div class="field">
            <label>Title</label>
            <input type="text" name="title" placeholder="Title" value="<%= @note.title %>">
          </div>
          <div class="field">
            <label>Progress Node</label>
            <textarea rows="16"><%= @note.note %></textarea>
          </div>
        </div>

      </div>

      <div class="ui top attached tab segment" data-tab="details">
        <p>From here we can dig out all manner of data once we have the attempts and vocabulary system working.  This doesn't even touch yet on the word position information or the goal aspect of things.</p>

        <p> Once we get enough info we can start to parse individual words to determine word position issues based on word patterns and even identify phoneme's the client is having issues with. (IWP, MWP, FWP, AWP..etc..)</p>

        <h4>Details:</h4>
        <%= @note.attempts.count %> attempts were made with <%= @note.attempts.where(successful:true).count %> successful attempts.

        <h5>Client had issues with the following words: </h5>

          <%= @note.attempts.where(successful:false).where.not(vocabulary:nil).map(&:vocabulary).uniq.map(&:word).join(', ') %>

        </div>

      <div class="ui top attached tab segment" data-tab="report">
        Special Report
      </div>

      <div class="ui top attached tab segment" data-tab="audit">
        Audit Log
      </div>

      <div class="ui bottom attached tabular menu">
        <a class="active tab item" data-tab="note">
          Note
        </a>
        <a class="tab item" data-tab="details">
          Details
        </a>
        <a class="tab item" data-tab="report">
          Special Report
        </a>
        <a class="tab item" data-tab="audit">
          Audit Log
        </a>

        <div class="right menu">
          <a class="item">

          </a>
        </div>
      </div>

    </div>
  </div>

</div>
